body {
  background-color: linen;
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

@font-face {
    font-family: 'PawWow';
    src: url('PawWowBlock-VGMDl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.ontitle {
  display: block;
/*  margin-left: auto;
  margin-right: auto;
  width: 75%; */
  text-align: center;
}

.ontitle h1 {
  color: #FB9331;
  font-size: 70px;
  font-weight: normal;
/*  font-family: 'Barriecito', cursive; */
  font-family: 'PawWow', sans-serif;
  margin-top: 15px;
  margin-bottom: 20px;
}

.onphoto {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0 -120px;
  border-radius: 50%;
}

.poem {
  background-color: lightpink;
  padding-top: 20px;
  padding-bottom: 20px;
}

.poem p {
  font-family: 'Montserrat', sans-serif;
/*  color: lightgoldenrodyellow; */
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.ontitle .carousel-inner {
  margin-top: 40px;
  margin-bottom: 40px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;

}

.carousel-indicators {
  position: relative;
}

.profile {
  color: #DB114B;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: left;

}

.profile h2 {
  font-family: 'PawWow', sans-serif;
  font-size: 50px;

}

.profile p {
  margin-bottom: 8px;
  font-size: 18px;
}

.profiletable {
  width: 100%;
  font-size: 18px;
  color: #DB114B;
  
}

.profiletable tr {
  height: 30px;
}

.faqblock {
/*  background-color: darkseagreen; */
  background-color: lightblue;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #003779;
  width: 100%;
}

.faq {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.faq h2{
  font-family: 'PawWow', sans-serif;
  font-size: 50px;
}

.collapsible {
  cursor: pointer;
  padding: 4px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: lightblue;
  color: #003779;
}

/* .collapsible:hover {
  background-color: #C4DFDF;
} */

.collapsible:after {
  content: '\002B';
  color: #003779;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0;
/*  max-height: 0; */
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content > p {
  margin-top: 0;
  margin-bottom: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  background-color: #D6ECF3;
}

@media only screen and (max-width: 700px) {
.profile {
  width: 80%;
}

.faq {
  width: 80%;
}
}